html,
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}
a{text-decoration: none !important;}
* {
    box-sizing: border-box;
}

h4 {
    margin-left: 10px;
    margin-bottom: 0 !important;;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: rgb(102, 102, 102);letter-spacing: 1.5px;
}

main {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: url(https://res.cloudinary.com/cortehz/image/upload/v1571532514/pattern_texture1165_v7vn8c.jpg);
}

.custom-select{ 
    box-shadow: 1px 1px 1px 1px rgba(117, 116, 116, 0.267);
}

.container_divs {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 70%;
    background: white;
    padding: 1% 2% 1% 2%;
    margin-top: 25px;
    border-radius: 5px;
    box-shadow: 3px 2px 1px 1px rgba(4, 44, 25, 0.664);
}

.growth_settings {
    display: flex;
    align-items: center; 
    align-content: center;
}

.growth_settings_two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; margin-top: 20px; margin-bottom: 15px;
}

.activity_speed {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h5 {
    margin: 0;
    line-height: 0;
    font-size: 12px !important; margin-bottom: 0 !important; 
} 
label{margin-bottom: 0 !important;}

hr{ color: rgba(102, 102, 102, 0.582);
    border:         none;
    border-left:    1px solid hsl(0, 0%, 92.5%) !important;
    height:         65px !important;
    width:          1px;
}
.hor-hr{height: 10%; transform: rotate(90deg); margin: 0;}

h5,
div.question-mark,
.custom-select {
    margin: 10px;
}

.container_divs_two {
    display: flex;
    margin-top: 30px;
    width: 70%;
    justify-content: space-between;
    border-radius: 5px;
    flex-wrap: wrap;
}

.bottom_two {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: teal;
    width: 40%;
    background: white;
    padding: 2%;
    box-shadow: 3px 2px 1px 1px rgba(4, 44, 25, 0.664);
}

.one {
    margin-right: 15px; 
    border-radius: 5px; margin-bottom: 25px;
}

.two {
    margin-left: 15px; 
    border-radius: 5px; margin-bottom: 25px;
}

.input_area {
    display: flex;
}

.input_area input {
    flex: 7;
    margin-right: 20px;
}

.input_area button {
    flex: 1;
}

.question-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(224, 223, 223);
    padding: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #fff;
}

/* toggle */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #5aeee2;
}

input:focus+.slider {
    box-shadow: 0 0 1px #5aeee2;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* 
select */

.custom-select {
    width: 70px !important; 
    font-size: 10px !important;
    margin: 5px; 
    padding: .1rem 0.3rem .1rem .1rem !important;
}


/* 
range slider */
  /**********************************************************GENERAL***************************************************************************/

/* This line can be removed it was just for display on CodePen: */
.container {
    margin-top: 125px;
  }
  
  .slider-labels {
    margin-top: 10px;
  }
  
  /* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */
  .noUi-target,.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .noUi-target {
    position: relative;
    direction: ltr;
  }
  
  .noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  /* Fix 401 */
  }
  
  .noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .noUi-handle {
    position: relative;
    z-index: 1;
  }
  
  .noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
    z-index: 10;
  }
  
  .noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s,top .3s;
    transition: left 0.3s,top .3s;
  }
  
  .noUi-state-drag * {
    cursor: inherit !important;
  }
  
  /* Painting and performance;
   * Browsers can paint handles in their own layer.
   */
  .noUi-base,.noUi-handle {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  /* Slider size and handle placement;
   */
  .noUi-horizontal {
    height: 4px;
  }
  
  .noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: #345DBB;
  }
  
  /* Styling;
   */
  .noUi-background {
    background: #D6D7D9;
  }
  
  .noUi-connect {
    background: #345DBB;
    -webkit-transition: background 450ms;
    transition: background 450ms;
  }
  
  .noUi-origin {
    border-radius: 2px;
  }
  
  .noUi-target {
    border-radius: 2px;
  }
  
  .noUi-target.noUi-connect {
  }
  
  /* Handles and cursors;
   */
  .noUi-draggable {
    cursor: w-resize;
  }
  
  .noUi-vertical .noUi-draggable {
    cursor: n-resize;
  }
  
  .noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }
  
  .noUi-handle:active {
    border: 8px solid #345DBB;
    border: 8px solid rgba(53,93,187,0.38);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -14px;
    top: -14px;
  }
  
  /* Disabled state;
   */
  [disabled].noUi-connect,[disabled] .noUi-connect {
    background: #B8B8B8;
  }
  
  [disabled].noUi-origin,[disabled] .noUi-handle {
    cursor: not-allowed;
  }


  /* slider 2 */

  /* Ion.RangeSlider
// css version 2.0.3
// Â© 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/

/* =====================================================================================================================
// RangeSlider */

.irs {
    position: relative; display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
    .irs-line {
        position: relative; display: block;
        overflow: hidden;
        outline: none !important;
    }
        .irs-line-left, .irs-line-mid, .irs-line-right {
            position: absolute; display: block;
            top: 0;
        }
        .irs-line-left {
            left: 0; width: 11%;
        }
        .irs-line-mid {
            left: 9%; width: 82%;
        }
        .irs-line-right {
            right: 0; width: 11%;
        }

    .irs-bar {
        position: absolute; display: block;
        left: 0; width: 0;
    }
        .irs-bar-edge {
            position: absolute; display: block;
            top: 0; left: 0;
        }

    .irs-shadow {
        position: absolute; display: none;
        left: 0; width: 0;
    }

    .irs-slider {
        position: absolute; display: block;
        cursor: default;
        z-index: 1;
    }
        .irs-slider.single {

        }
        .irs-slider.from {

        }
        .irs-slider.to {

        }
        .irs-slider.type_last {
            z-index: 2;
        }

    .irs-min {
        position: absolute; display: block;
        left: 0;
        cursor: default;
    }
    .irs-max {
        position: absolute; display: block;
        right: 0;
        cursor: default;
    }

    .irs-from, .irs-to, .irs-single {
        position: absolute; /*! display: block; */
        top: 0; left: 0;
        cursor: default;
        white-space: nowrap; 
        background: tomato;


    }
    .irs-from, .irs-to, .irs-single:before{ 
        /* content:'';
        position: absolute;
        left: 0; top: 20;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-top: 25px solid #6A0136;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent; */
    
    }
.irs-grid {
    position: absolute; display: none;
    bottom: 0; left: 0;
    width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
    .irs-grid-pol {
        position: absolute;
        top: 0; left: 0;
        width: 1px; height: 8px;
        background: #000;
    }
    .irs-grid-pol.small {
        height: 4px;
    }
    .irs-grid-text {
        position: absolute;
        bottom: 0; left: 0;
        white-space: nowrap;
        text-align: center;
        font-size: 9px; line-height: 9px;
        padding: 0 3px;
        color: #000;
    }

.irs-disable-mask {
    position: absolute; display: block;
    top: 0; left: -1%;
    width: 102%; height: 100%;
    cursor: default;
    background: rgba(0,0,0,0.0);
    z-index: 2;
}
.lt-ie9 .irs-disable-mask {
    background: #000;
    filter: alpha(opacity=0);
    cursor: not-allowed;
}

.irs-disabled {
    opacity: 0.4;
}


.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}


/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// Â© Denis Ineshin, 2014    https://github.com/IonDen
// Â© guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 55px;
}
.irs-with-grid {
    height: 75px;
}
.irs-line {
    height: 8px; top: 33px;
    background: #999;
    background: #999; /* W3C */
    border: 1px solid #CCC;
    border-radius: 16px;
    -moz-border-radius: 16px;
}
    .irs-line-left {
        height: 8px;
    }
    .irs-line-mid {
        height: 8px;
    }
    .irs-line-right {
        height: 8px;
    }

.irs-bar {
    height: 8px; top: 33px;
    background: tomato;
    background: tomato /* W3C */
}
    .irs-bar-edge {
        height: 10px; top: 33px;
        width: 14px;
        border: 1px solid tomato;
        border-right: 0;
        background: tomato;
        background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%); /* W3C */
        border-radius: 16px 0 0 16px;
        -moz-border-radius: 16px 0 0 16px;
    }

.irs-shadow {
    height: 2px; top: 38px;
    background: #000;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: 27px;
    width: 18px; height: 18px;
    border: 1px solid #AAA;
    background: #fff;
    border-radius: 27px;
    -moz-border-radius: 27px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
}

.irs-slider.state_hover, .irs-slider:hover {
    background: #FFF;
}

.irs-min, .irs-max {
    color: #fff;
    font-size: 12px; line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 5px 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 14px; line-height: 1.333;
    text-shadow: none;
    padding: 5px 10px; margin: -5px;
    background: tomato;
    border-radius: 3px;
    -moz-border-radius: 3px;
    /* border-bottom: 5px solid tomato; */
width: 60px; text-align: center;
}  


.irs-to::after, .irs-from::after{
    content: "";
  position: absolute;
  right: 20%;
  top: 19px;
  width: 0;
  height: 0;
  border-top: 13px solid tomato;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent; margin: 0 auto;
}


.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 20px;
}
.irs-grid-pol {
    opacity: 0.5;
    background: #428bca;
}
.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}

.irs-disabled {
}




  .div_collector{ 
      display: flex; 
      padding: 2px; 
      border: 1px solid silver; 
      border-radius: 5px;
      height: 200px;  
      align-items: flex-start; margin-top: 25px
  }

  .div_collector ul{
    display: flex;
    box-sizing: border-box; 
    padding: 0; flex-wrap: wrap;
  }

  .div_collector li{
      font-size: 12px;
      list-style: none;
      background: whitesmoke;  
      margin: 5px;
        padding: 10px; 
 border-radius: 5px;
    display: flex; align-content: center; align-items: center; justify-content: space-around;
  }  
  
  .div_collector svg{
      margin-right: 5px;
  }

  .div_collector i{
    margin-left: 5px;
}

.one i{
    margin-right: 5px; font-size: 20px;
}
.color-code a{
    color: rgb(53, 51, 51);
}

.input_area{
    margin-top: 25px;
}

.input_area input{
    height: 38px; 
    border-radius: 5px;
    border: 1px solid rgb(179, 174, 174);
}

.input_area button{
color: white; background: #12afafe3;
    border-radius: 7px; font-weight: 600; border: none;
    padding: 0 12px 0 12px ;
}

.fa-times{font-size: 12px !important;}


/* responsive styles */

@media only screen and (max-width: 956px) {
    .one {
        margin-right: 0;
    }
    .container_divs{ width: 90%;}
    .container_divs_two{width:90%}
    .bottom_two{width:100%;}
    .two{margin-left: 0; margin-top: 25px;}
  }

  @media only screen and (max-width: 576px) {
   hr{visibility: hidden;margin: 0;}
  }